include README.md
include CHANGELOG.md
include LICENSE
include AUTHORS.md
include requirements.txt
include babel.cfg
include translations/messages.pot
recursive-include octoprint_uptime/templates *
recursive-include octoprint_uptime/static *
recursive-include octoprint_uptime/translations *.mo
recursive-include translations *.po *.mo
