<li id="navbar_plugin_navbar_uptime" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-history"></i> {{ _("System:") }} <span data-bind="text: uptimeDisplay"></span> | {{ _("OctoPrint:") }} <span data-bind="text: octoprintUptimeDisplay"></span>
    </a>
    {# Ensure JS translation loader picks up the 'Started:' string used in the tooltip #}
    <span style="display:none" aria-hidden="true">{{ _("Started:") }}</span>
</li>
